<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>列表界面-前端</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">
</head>
<nav th:fragment="nav" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown" th:each="mm : ${MENUS}" shiro:hasPermission="${mm.permission}">
                <th:block th:if="${mm.parentId==0}">
                    <a th:href="${mm.path}" class="dropdown-toggle" data-toggle="dropdown" th:text="${mm.name}"> 商品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li th:each="sm: ${session.MENUS}" th:if="${sm.parentId==mm.id}" shiro:hasPermission="${sm.permission}">
                            <a th:href="${sm.path}" th:text="${sm.name}"></a>
                        </li>
                    </ul>
                </th:block>
            </li>
        </ul>
    </div>
</nav>