<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>添加界面-前端</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品管理 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">商品列表</a></li>
                    <li><a href="/product/goAdd">添加商品</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品分类管理 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">商品分类列表</a></li>
                    <li><a href="#">添加商品分类</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品二级分类管理 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">商品二级分类列表</a></li>
                    <li><a href="#">添加商品二级分类</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<form class="form-horizontal" action="/product/add" method="post">
    <div class="form-group">
        <label for="inputPname" class="col-sm-2 control-label">商品名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="pname" id="inputPname" placeholder="商品名称">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMarketPrice" class="col-sm-2 control-label">市场价格</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="market_price"  id="inputMarketPrice" placeholder="市场价格">
        </div>
    </div>
    <div class="form-group">
        <label for="inputShopPrice" class="col-sm-2 control-label">商城价格</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="shop_price" id="inputShopPrice" placeholder="市场价格">
        </div>
    </div>
    <div class="form-group">
        <label for="image" class="col-sm-2 control-label">商品图片</label>
        <div class="col-sm-10">
            <input type="file" class="col-sm-9" name="file"  id="image" placeholder="请选择图片">
            <input type="button" class="btn btn-success" id="btnImageUpload" value="确认上传">
            <input id="imagePath" type="hidden" name="image">
            <img id="proImage" class="hidden" src="" width="200" height="200" />
        </div>
    </div>
    <div class="form-group">
        <label for="taPdesc" class="col-sm-2 control-label">商品描述</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10"  name="pdesc" id="taPdesc"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">是否热门</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio"  name="is_hot" id="inlineRadio1" value="1"> 是
            </label>
            <label class="radio-inline">
                <input type="radio" name="is_hot" id="inlineRadio2" value="0"> 否
            </label>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">一级分类</label>
        <div class="col-sm-10">
            <select class="form-control" id="category">
                <option th:each="c : ${categories}" th:value="${c.cid}" th:text="${c.cname}" >1</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">二级分类</label>
        <div class="col-sm-10">
            <select class="form-control" id="categorySecond" name="csid">
                <option th:each="cs : ${categorySeconds}" th:attr="data-cid=${cs.cid}" th:value="${cs.csid}" th:text="${cs.csname}">1</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">更新</button>
        </div>
    </div>
</form>

<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    $(function () {

        //  单击确定按钮实现上传
        $("#btnImageUpload").click(function () {
            var formData = new FormData();
            formData.append('file', $('#image')[0].files[0]);

            $.ajax({
                url: '/product/imageUpload',
                data: formData,
                type: "POST",// POST方式
                async: false, // 异步提交
                cache: false,
                contentType: false,
                processData: false,
                success: function(res) {
                    //成功
                    if(res.code==0){
                        // 刷新界面上的图片（回显）
                        $("#proImage").removeClass("hidden").attr("src","http://localhost:8080/"+res.data);
                        // 记录文件名，为了update
                        $("#imagePath").val(res.data);
                    }
                    // 回显图片
                }
        })
        })
    })
</script>
</body>
</html>